<tableau>



<div class="container" style="width:80%";>
	<table class="table table-striped table-bordered" id="sortTable">
		<thead>
		<th>Pays</th>
		<th>Cas</th>
		<th>Guéris</th>
		<th>Morts</th>
        <th>Cas total</th>
        <th>Guéris total</th>
        <th>Morts total</th>
		</thead>
		<tbody>

        <tr each={country in this.state.countries}>
            <td>{country.Country}</td>
            <td>{country.NewConfirmed}</td>
            <td>{country.NewRecovered}</td>
            <td>{country.NewDeaths}</td>
            <td>{country.TotalConfirmed}</td>
            <td>{country.TotalRecovered}</td>
            <td>{country.TotalDeaths}</td>
        </tr>

		</tbody>
	</table>
</div> 

    <script>
    $('#sortTable').DataTable();




$(function(){
  $('.info_link').click(function(){
      localStorage.setItem("pays", JSON.stringify($(this).text()));

  });
});

        

        export default{
            state:{/*on initialise l'objet state avant de recup des trucs*/
                countries: [],
            },
            onBeforeMount(props, state){/*avant qu'on voit le tableau*/
                // console.log("Fonction onBeforeMount");
                this.changeState();/*nouvelle fonction qui change le state*/
            },
            async changeState(){/*promesse async donc function async*/
                // console.log("Fonction ChangeState")

                var retrievedData = localStorage.getItem("data");
                let res = JSON.parse(retrievedData);
                this.state.countries = res.Countries;

                //this.update();
            }

        }
        

    </script>


</tableau>